<input ng-model="spellInfo.name" type="text" placeholder="Search..." />
<select ng-model="spellInfo.class">
    <option>Choose a Class</option>
    <option value="Bard">Bard</option>
    <option value="Cleric">Cleric</option>
    <option value="Druid">Druid</option>
    <option value="Paladin">Paladin</option>
    <option value="Ranger">Ranger</option>
    <option value="Sorcerer">Sorcerer</option>
    <option value="Warlock">Warlock</option>
    <option value="Wizard">Wizard</option>

</select>
<select ng-model="spellInfo.level">
    <option>Choose a Level</option>
    <option value="cantrip">Cantrip</option>
    <option value="one">1</option>
    <option value="two">2</option>
    <option value="three">3</option>
    <option value="four">4</option>
    <option value="five">5</option>
    <option value="six">6</option>
    <option value="seven">7</option>
    <option value="eight">8</option>
    <option value="nine">9</option>

</select>
<input type="submit" ng-click="submit(spellInfo)" value="Go" />

<div ng-repeat="spell in spellArray.response" class="spell-container">
    <p>
        <h3 class="name">{{spell.name}}</h3>
        <div class="level">Level {{spell.level}}</div><div class="type"> {{spell.type}}</div>
    </p>
    <p>
        <div class="cast-time"><b>Casting Time: </b>{{spell.casttime}}</div>
        <div class="range"><b>Range: </b>{{spell.range}}</div>
        <div class="components"><b>Components: </b>{{spell.components}}</div>
        <div class="duration"><b>Duration: </b>{{spell.duration}}</div>
    </p>
    <p>
        <div class="description">{{spell.description}}</div>
    </p>
</div>
