<ng-include src="'../views/partials/header.html'"></ng-include>
<div class="container left">

<div class="search-container">

<div class="spellinfo-container left">

<form ng-submit="submitAndClear(spellInfo)">

    <div class="search-bar left">
        <input type="text" ng-model="spellInfo.name" class="spell-name left" placeholder="Search..."/>
        <input type="image" alt="submit" ng-src="../assets/images/searchglass.png" class="magn-img left" value="Go" />
    </div>
    <!-- <div class="clearfix"></div> -->

    <select class="spell-class left" ng-model="spellInfo.class" ng-change="submit(spellInfo)">
        <option value="">Choose a Class</option>
        <option value="Bard">Bard</option>
        <option value="Cleric">Cleric</option>
        <option value="Druid">Druid</option>
        <option value="Paladin">Paladin</option>
        <option value="Ranger">Ranger</option>
        <option value="Sorcerer">Sorcerer</option>
        <option value="Warlock">Warlock</option>
        <option value="Wizard">Wizard</option>
    </select>

    <select class="spell-level left" ng-model="spellInfo.level" ng-change="submit(spellInfo)">
        <option value="">Choose a Level</option>
        <option value="cantrip">Cantrip</option>
        <option value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
        <option value="four">4</option>
        <option value="five">5</option>
        <option value="six">6</option>
        <option value="seven">7</option>
        <option value="eight">8</option>
        <option value="nine">9</option>
    </select>
</form>
</div>

<!-- <div class="clearfix"></div> -->

<div class="toggle-container left">
    Type:
        <input type="checkbox" ng-model="typeChecked" />
    Components:
        <input type="checkbox" ng-model="componentsChecked" />
        <br />
    Description:
        <input type="checkbox" ng-model="descriptionChecked" />
    Class List:
        <input type="checkbox" ng-model="learnedbyChecked" />
</div>
</div>

<div ng-repeat="spell in spellArray.response" class="spell-container left">
    <p>
        <div class="name"><b>{{spell.name}}</b></div>
        <div class="level">Level {{spell.level}}</div>
        <div class="type" ng-hide="typeChecked"> {{spell.type}}</div>
    </p>
    <p>
        <div class="cast-time"><b>Casting Time: </b>{{spell.casttime}}</div>
        <div class="range"><b>Range: </b>{{spell.range}}</div>
        <div class="components" ng-hide="componentsChecked"><b>Components: </b>{{spell.components}}</div>
        <div class="duration"><b>Duration: </b>{{spell.duration}}</div>
    </p>
    <p>
        <div class="description" ng-hide="descriptionChecked">{{spell.description}}</div>
    </p>
    <p>
        <div class="learnedby" ng-hide="learnedbyChecked"><b>Classes Able to Learn: </b> <span ng-repeat="class in spell.learnedby">
            {{class}}</span>
        </div>
        <div class="damagetype">
            <b>Damage Type: </b> {{spell.damagetype}}
        </div>
        <div class="die">
            <b>Dice Used: </b> {{spell.die}}
        </div>
    </p>
    <div class="separator"></div>
</div>
</div>

<div class="clearfix"></div>
